<!DOCTYPE html>
<html>
    <head><title>All TODOs (Secure)</title></head>
    <body>
        <nav style="margin-bottom:20px;">
            <a href="/">Home</a> |
            <a href="/register">Register</a> |
            <a href="/login">Login</a> |
            <a href="/todo">Create Todo</a> |
            <a href="/todos">View Todos</a> |
            <!--<a href="/debug/users">Debug Users</a> |-->
            <!--(<a href="/debug/todos">Debug Todos</a> -->
            <a href="/logout">Logout</a> |
        </nav>
        <hr>
        <h1>All TODOs (Secure)</h1>

        <% todos.forEach(todo => { %>
            <div style = "border:1px solid black; padding:10px; margin:10px;">
                <h3><%= todo.title %></h3>
                <form method="POST" action="/todo/delete">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="todo_id" value="<%= todo.id %>">
                    <button type="submit">Delete</button>
                </form>
                <p><%= todo.description %></p>

                <small>User ID: <%= todo.user_id %></small>
            </div>
        <% }) %>
    </body>
</html>